<div class="hero-form-container">
  <h2>{{ editMode() ? 'Edit Hero' : 'Create Hero' }}</h2>

  <form [formGroup]="heroForm" (ngSubmit)="saveHero()">
    <div class="hero-form-group">
      <label for="name">Hero Name</label>
      <input id="name" formControlName="name" type="text" appCamelCase />
      <div class="error-message" *ngIf="nameControl?.invalid && nameControl?.touched">
        <p *ngIf="nameControl?.errors?.['required']">Name is required.</p>
        <p *ngIf="nameControl?.errors?.['pattern']">Only letters are allowed.</p>
      </div>
    </div>

    <div class="hero-form-actions">
      <button class="save" type="submit" [disabled]="heroForm.invalid">Save</button>
      <button class="cancel" type="button" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
